

.container {
    background-color: none;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    height: 500px;
}
img {
    margin-left: 324.5px;
    margin-right: 324.5px;
}


.naber {
        background-color: rgb(238, 238, 238);
        width: 100%;
        height: 13%;
}



.first {
        background-color: rgb(126, 229, 218);
        width: 35%;
        height: 15%;
        float: left;
        
        
}

.second {
        background-color:  rgb(112, 204, 194);
        width: 20%;
        height: 15%;
        float: left;
}

.third {
        background-color: rgb(98, 179, 170);
        width: 45%;
        height: 15%;
        float: left;
}

p {
    margin: 0;
    text-align: center;
}

input {
        width: 309px;
        height: 15px;
        
}

#two {
        width: 104.94px;
        height: 21px;
}

#one {
        width: 110.42px;
        height: 21px;

}
.konuk {
        font-size: 13px;
}

#kerem {
        width: 169px;
        height: 15px;
}
#sub {
        width: 75.28px;
        height: 21px;
}